body{
    margin: 20px;
}

/*.mainchart{
    border: 1px brown solid;
    height: 400px;
    width: 400px;
    margin-left: 50px;
}*/

h2 { 
    text-align: center; 
    font-weight: bold;
}

h5 { 
    text-align: center; 
    font-weight: bold;
}

.yearlabel{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 20px;
    z-index: 999;
}

#map-tooltip{
    position: fixed;
    display: inline;
    opacity: 0;
	z-index: 999;
    background-color: black;
    color: white;
    width: 200px;
    padding: 5px;
    border-radius:5px;
    
}

#chart1{
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
}

#chart2{
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#slider{
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#yearlabel{
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 450px;
    font-weight: bold;
}

#charts{
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

a {
    color: #67000d;
}

a:hover {
    color: #feded0; 
}